<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arya::Kanban</title>
    
    {% load static %}
    <link href="{% static 'kanban/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'kanban/vendor/bootstrap/css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'kanban/vendor/bootstrap/css/bootstrap-reboot.min.css' %}" rel="stylesheet">
    <link href="{% static 'kanban/css/3-col-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'kanban/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% block css_content %}
    {% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Arya::Kanban</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Projects
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">User</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block page_content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center"><a class="text-white" href="https://github.com/seLain/Arya">Arya @ GitHub</a></p>
      </div>
      <!-- /.container -->
    </footer>

    <script src="{% static 'kanban/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'kanban/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'kanban/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block javascript_content %}
    {% endblock %}

</body>
</html>