{% extends 'kanban/base.html' %}

{% load static %}

{% block css_content %}
<link rel="stylesheet" type="text/css" href="{% static 'kanban/css/kanban.css' %}"/>
{% endblock %}

{% block page_content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h2 class="my-4">All Projects
    <small>click to open kanban</small>
  </h2>

  <div class="row">
    {% for project in projects %}
      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
          <div class="card-body">
            <h4 class="card-title">
              <a href="/kanban/project?id={{project.id}}">{{ project.title }}</a>
            </h4>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>

</div>
<!-- /.container -->

{% endblock %}