{% extends 'kanban/base.html' %}

{% load static %}

{% block css_content %}
<link rel="stylesheet" type="text/css" href="{% static 'kanban/css/kanban.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'kanban/css/kanban-table.css' %}"/>
{% endblock %}

{% block page_content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-sm-3">
      <h2 class="my-4"><small>project::</small> {{ project.title }}</h2>
    </div>
    <div class="col-9">
      <form method="post" id="command-form" class="my-4">
          {% csrf_token %}
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Command" name="commandText" id="commandText" autofocus/>
              <input type="hidden" name="projectID" value="{{ project.id }}">
              <span class="input-group-btn">
                  <button class="btn btn-info" type="button" id="command-form-btn">SEND <span class="glyphicon glyphicon-hand-up"></span></button>
              </span>
          </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="kanban-table">
      <div class="kanban-table-body" id="kanban-table-body">
      {% for stage in stages %}
        <div class="col-lg-3 col-sm-6 portfolio-item task-column" id='{{ stage.title }}'>
          <h4 class="card-title text-center">{{ stage.title }}</h4>
          {% for task in stage.tasks %}
            <div class="portfolio-item" id='{{ task.id }}'>
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/kanban/task?id={{task.id}}">{{ task.title }}
                      <small>#{{ task.id }}</small>
                    </a>
                  </h5>
                  <p class="card-text">{{ task.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}

{% block javascript_content %}

<script>
$(function() {
    $('#command-form-btn').click(function(e) {
        e.preventDefault();
        $('#command-form').submit();
    });

    $('#command-form').submit(function(e) {
        e.preventDefault();
        var command = $('#commandText').val();
        $.ajax({
            type: "POST",
            url: "/kanban/command",
            data: $(this).serialize(),
            success: function(response) {
                $('#commandText').val('');  // empty the command field
                if(response.hasOwnProperty('create_stage')){
                  var stage_title = response.create_stage.stage_title;
                  // add new stage to kanban without reload
                  $("#kanban-table-body").append(
                      '<div class="col-lg-3 col-sm-6 portfolio-item task-column" id="' + 
                      stage_title + '">' +
                      '<h4 class="card-title text-center">' + stage_title + '</h4>' + 
                      '</div>');
                }
                if(response.hasOwnProperty('delete_stage')){
                  // remove stage from kanban without reload
                  var stage_id = "#" + response.delete_stage.stage_title;
                  $(stage_id).remove();
                }
                if(response.hasOwnProperty('create_task')){
                  // remove stage from kanban without reload
                  var stage_title = response.create_task.stage_title;
                  var task_title = response.create_task.task_title;
                  var task_id = response.create_task.task_id;
                  $("#"+stage_title).append(
                    '<div class="portfolio-item" id="' + task_id + '">' + 
                    '<div class="card h-100">' +
                    '<div class="card-body">' + 
                    '<h5 class="card-title">' + 
                    '<a href="/kanban/task?id=' + task_id +'">' + task_title + 
                    '<small>#' + task_id + '</small></a></h5>' +
                    '<p class="card-text">None</p></div></div></div>');

                }
                if(response.hasOwnProperty('delete_task')){
                  // remove stage from kanban without reload
                  var task_id = "#" + response.delete_task.task_id;
                  $(task_id).remove();
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>

{% endblock %}