{% extends 'kanban/base.html' %}

{% load static %}

{% block css_content %}
{% endblock %}

{% block page_content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-sm-2">
      <h2 class="my-4"><small>project::</small> {{ project.title }}</h2>
    </div>
    <div class="col-sm-10">
      <form method="post" id="command-form" class="my-4">
          {% csrf_token %}
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Command" name="commandText" id="commandText" autofocus/>
              <input type="hidden" name="projectID" value="{{ project.id }}">
              <span class="input-group-btn">
                  <button class="btn btn-info" type="button" id="command-form-btn">SEND <span class="glyphicon glyphicon-hand-up"></span></button>
              </span>
          </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 container">
      <div class="kanban-infobar" id="kanban-infobar">
        <a class="kanban-infobar-tongue" id="infobar-tongue" href="#">
          <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
        </a>
        <div class="kanban-infobar-shadow">
          <div class="kanban-infobar-content invisible-scrollbar">
            <h5 class="kanban-infobar-title" id="kanban-infobar-title"> Activities </h5>
            <div class="activities">
              {% for log in activities %}
                  <div class="col-sm-12">
                      <p> {{ log.actor }} {{ log.content }} </p>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 container kanban-table">
      <div class="row">
        <div class="col-sm-12 kanban-table-body" id="kanban-table-body">
        {% for stage in stages %}
          <div class="col-lg-3 col-sm-6 portfolio-item task-column" id='{{ stage.title }}'>
            <h4 class="card-title text-center">{{ stage.title }}</h4>
            {% for task in stage.tasks %}
              <div class="portfolio-item" id='{{ task.id }}'>
                <div class="card h-100">
                  <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/kanban/task?id={{task.id}}">{{ task.title }}
                        <small>#{{ task.id }}</small>
                      </a>
                    </h5>
                    <p class="card-text">{{ task.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}

{% block javascript_content %}

<script>

var sidebar_hidden = false;

$(function() {
    $('#infobar-tongue').click(function(e) {
      if(sidebar_hidden){
        $('#kanban-infobar').animate({
              right: '0px'
          }, 300);
        $('#infobar-tongue').text('');
        $('#infobar-tongue').append('<i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>')
        sidebar_hidden = false;
      }else{
        $('#kanban-infobar').animate({
              right: '-250px'
          }, 300);
        $('#infobar-tongue').text('');
        $('#infobar-tongue').append('<i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>')
        sidebar_hidden = true;
      }
    });
});

$(function() {
    $('#command-form-btn').click(function(e) {
        e.preventDefault();
        $('#command-form').submit();
    });

    $('#command-form').submit(function(e) {
        e.preventDefault();
        var command = $('#commandText').val();
        $.ajax({
            type: "POST",
            url: "/kanban/command",
            data: $(this).serialize(),
            success: function(response) {
                $('#commandText').val('');  // empty the command field
                if(response.hasOwnProperty('create_stage')){
                  var stage_title = response.create_stage.stage_title;
                  // add new stage to kanban without reload
                  $("#kanban-table-body").append(
                      '<div class="col-lg-3 col-sm-6 portfolio-item task-column" id="' + 
                      stage_title + '">' +
                      '<h4 class="card-title text-center">' + stage_title + '</h4>' + 
                      '</div>');
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.create_stage.log +
                      '</p></div>'
                    );
                }
                if(response.hasOwnProperty('delete_stage')){
                  // remove stage from kanban without reload
                  var stage_id = response.delete_stage.stage_title;
                  $("#" + stage_id).remove();
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.delete_stage.log +
                      '</p></div>'
                    );
                }
                if(response.hasOwnProperty('create_task')){
                  // remove stage from kanban without reload
                  var stage_title = response.create_task.stage_title;
                  var task_title = response.create_task.task_title;
                  var task_id = response.create_task.task_id;
                  $("#"+stage_title).append(
                    '<div class="portfolio-item" id="' + task_id + '">' + 
                    '<div class="card h-100">' +
                    '<div class="card-body">' + 
                    '<h5 class="card-title">' + 
                    '<a href="/kanban/task?id=' + task_id +'">' + task_title + 
                    '<small>#' + task_id + '</small></a></h5>' +
                    '<p class="card-text">None</p></div></div></div>');
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.create_task.log +
                      '</p></div>'
                    );

                }
                if(response.hasOwnProperty('delete_task')){
                  // remove stage from kanban without reload
                  var task_id = response.delete_task.task_id;
                  $("#"+task_id).remove();
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.delete_task.log +
                      '</p></div>'
                    );
                }
                if(response.hasOwnProperty('move_task')){
                  // remove stage from kanban without reload
                  var task_id = response.move_task.task_id;
                  var task_title = response.move_task.task_title;
                  var stage_title = response.move_task.stage_title;
                  $("#"+task_id).remove();
                  // move task
                  $("#"+stage_title).append(
                    '<div class="portfolio-item" id="' + task_id + '">' + 
                    '<div class="card h-100">' +
                    '<div class="card-body">' + 
                    '<h5 class="card-title">' + 
                    '<a href="/kanban/task?id=' + task_id +'">' + task_title + 
                    '<small>#' + task_id + '</small></a></h5>' +
                    '<p class="card-text">None</p></div></div></div>');
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.move_task.log +
                      '</p></div>'
                    );
                }
                if(response.hasOwnProperty('switch_stages')){
                  var first_stage_title = response.switch_stages.first_stage_title;
                  var second_stage_title = response.switch_stages.second_stage_title;
                  // do switch
                  var $temp = $("<div>");
                  var $first_stage = $('#'+first_stage_title)
                  var $second_stage = $('#'+second_stage_title)
                  $first_stage.before($temp);
                  $second_stage.before($first_stage);
                  $temp.after($second_stage).remove();
                  // add new log
                  $('#kanban-infobar-title').after(
                      '<div class="col-sm-12"><p>' +
                      response.switch_stages.log +
                      '</p></div>'
                    );
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>

{% endblock %}